{% INCLUDE 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_PPMS') }}</h1>

<p>{{ lang('ACP_PPMS_EXPLAIN') }}</p>

{% if PPMS_COUNT %}
<div class="errorbox notice">
	<h3>{{ lang('NOTICE') }}</h3>
	<p>{{ lang('PPMS_WARN') }}</p>
</div>
{% endif %}

{% if ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR }}</p>
	</div>
{% endif %}

<form id="acp_prunepms" method="post" action="{{ U_ACTION }}">

{% if S_PPMS_STATS %}
<fieldset>
	<legend>{{ lang('PPMS_STATS') }}</legend>
	<p><strong>{{ lang('PPMS_TOTAL_STATS') }}</strong></p>
	{% for pm_block in loops.pm_block %} 
	<div style="padding-left:20px;">
		{{ pm_block.MSG_BLOCK }}
	</div>
	{% endfor %}
</fieldset>
{% endif %}

{% if S_PPMS_COUNT %}
<fieldset>
	<legend>{{ lang('CRITERIA') }}</legend>

	<dl>
		<dt><label for="prune_date">{{ lang('PPMS_BEFORE_DATE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('PPMS_BEFORE_DATE_EXPLAIN') }}</span></dt>
		<dd>
			<strong>{{ lang('BEFORE') }}</strong> <input type="text" id="prune_date" name="prune_date" value="{PRUNE_DATE}" />
		</dd>
	</dl>
	<dl>
		<dt><label for="ignore_ams">{{ lang('PPMS_IGNORE_ADMINS_AND_MODS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('PPMS_IGNORE_ADMINS_AND_MODS_EXPLAIN') }}</span></dt>
		<dd><label><input type="radio" class="radio" name="ignore_ams" value="1" {% if S_SELECTED %}checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" id="ignore_ams" name="ignore_ams" value="0" {% if not S_SELECTED %}checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
	</dl>

	<p class="submit-buttons">

		<input class="button2" type="submit" id="refresh" name="refresh" value="{{ lang('PPMS_REFRESH') }}" />&nbsp;
		<input class="button2" type="submit" id="prune" name="prune" value="{{ lang('PPMS_PRUNE') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
	</p>
</fieldset>
{% endif %}
</form>

{% INCLUDE 'overall_footer.html' %}
