{% INCLUDE 'overall_header.html' %}

{% if S_COUNT_PMS %}
<form id="confirm" method="post" action="{S_CONFIRM_ACTION}">

<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ lang('PPMS_TO_PURGE') }}</p>
	{% if S_COUNT_TOO_LARGE %}
	<p>{{ lang('PPMS_CHANGE_DATE') }}</p>
	{% endif %}
	<p>{{ lang('PPMS_CONFIRM_WARN') }}</p>
</div>

<fieldset>
	<h1>{MESSAGE_TITLE}</h1>
	<p>{MESSAGE_TEXT}</p>

	{S_HIDDEN_FIELDS}

	<div style="text-align: center;">
		<input type="submit" name="confirm" value="{L_YES}" class="button2" />&nbsp;
		<input type="submit" name="cancel" value="{L_NO}" class="button2" />
	</div>
</fieldset>
</form>
{% else %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p><strong>{{ lang('PPMS_PRUNE_FAILURE') }}</strong></p>
</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
